body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }

/* .page-container {
    margin-top: 75px;
} */
#fab1 {
  position: fixed;
  left: 50%;
  top: 100%;
  transform: translate(-50%, -175%);
  background-color: white;
  color: white;
  min-width: 3.5em;
  min-height: 3.5em;
  z-index: 999;
}
#fab2 {
  position: fixed;
  left: 35%;
  top: 100%;
  transform: translate(0, -225%);
  background-color: white;
  color: white;
  min-width: 2em;
  min-height: 2em;
  z-index: 999;
}
#fab3 {
  position: fixed;
  right: 35%;
  top: 100%;
  transform: translate(0, -225%);
  background-color: white;
  color: white;
  min-width: 2em;
  min-height: 2em;
  z-index: 999;
}

.material-icons{
  color: black;
}

* {
    box-sizing: border-box;
  }
  
  .bg-image {
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

  }
  
  .logoImage{
    position: fixed;
    top: 0%;
    left: 0%;
    width: 7em;
    transform: translate(25%, 25%);
  }
  
  /* Images used */
  .img1 { background-image: url("Images/gambling1.jpg"); }
  .img2 { background-image: url("Images/gambling1.jpg"); }
  .img3 { background-image: url("Images/gambling1.jpg"); }
  .img4 { background-image: url("Images/gambling1.jpg"); }
  .img5 { background-image: url("Images/gambling1.jpg"); }
  .img6 { background-image: url("Images/gambling1.jpg"); }
  
  /* Position text in the middle of the page/image */
  .bg-text {
    background-color: rgba(0,0,0, 0.7); /* Black w/opacity/see-through */
    color: white;
    border: 10px solid white;
    font-weight: bold;
    font-size: 3em;
    position: fixed; /* Stay fixed */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    width: 300px;
    padding: 20px;
    text-align: center;
  }